.main-header {
    background-color:#001428;
    color: #fff;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    height: 120px;
    padding: 10px 7%;
}

.main-header ul {
    list-style: none;
    display: flex;
}

.main-header ul li {
    padding: 0 20px;
}

.main-header ul li a {
    text-decoration: none;
    color: #fff;
}